/* misc. */
.background {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  min-width: 1200px;
  min-height: 950px;
  margin: 16px;
  border: 3px solid #3f6e3e;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background: #4d894c;
}

.whyYouLose {
  margin-top: 300px;
}

.mainHeader {
  font-weight: bold;
  font-size: 75px;
  color: white;
  margin: 20px;
}

.textAlign {
  text-align: center;
}

.card {
  height: 245px;
  width: 175px;
  border: 2px solid black;
  border-radius: 10px;
}

/* ________________________________________________________________________________________ */

/* info and rules */
@media screen and (max-width: 900px) {
  .info {
    display: none;
  }
}

.info {
  max-width: 500px;
  min-width: 400px;
  margin-top: 20px;
}

p {
  color: white;
}

.listHeader {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

li {
  text-align: left;
  color: white;
  font-size: 15px;
}

/* ________________________________________________________________________________________ */

/* dealer and deck */
.dealerTotalDeck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealerSection {
  display: flex;
  flex-direction: row;
}

.dealer {
  position: relative;
  display: flex;
  background-color: #4d894c;
  flex-grow: 1;
  justify-content: space-around;
  padding-top: 32px;
}

.deck {
  position: relative;
  display: flex;
  align-self: center;
  height: 259.3199768066406px;
  width: 199.34359741210938px;
  padding-bottom: 5px;
  background-color: #4d894c;
}

.coverCard {
  border: 2px solid black;
  border-radius: 10px;
}

.dealerCards {
  position: relative;
  min-width: 500px;
}

#dealerTotal {
  height: 100px;
  width: 112px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255);
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

#dealerBust {
  position: relative;
  margin-top: 100px;
  border-radius: 10px;
  background: none;
  text-align: center;
  line-height: 144px;
  font-weight: bold;
  font-size: 150px;
  font-style: italic;
  font-weight: 700;
  color: red;
  text-shadow: 5px 5px black, -1px -1px 1px black;
  z-index: 1;
}

/* posiitons of all the dealers cards */
#dealer1 {
  position: absolute;
  left: 270px;
  top: 9px;
}

#dealer2 {
  position: absolute;
  left: 55px;
  top: 9px;
}

#dealer3 {
  position: absolute;
  left: 20px;
  top: 49px;
}

#dealer4 {
  position: absolute;
  left: 235px;
  top: 49px;
}

#dealer5 {
  position: absolute;
  left: 55px;
  top: 89px;
}

#dealer6 {
  position: absolute;
  left: 270px;
  top: 89px;
}

/* ________________________________________________________________________________________ */

/* current bet */
.bettingSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.currentBet {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

#currentBetOnTable {
  display: flex;
  min-height: 100px;
  min-width: 150px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  z-index: 1;
}

/* ________________________________________________________________________________________ */

/* player and betting menu*/
.playerSection {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 150px;
}

.player {
  display: flex;
  position: relative;
  flex-grow: 1;
  padding-left: 40px;
}

.playerButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

#playerBust {
  position: relative;
  margin-top: 100px;
  background: none;
  text-align: center;
  line-height: 144px;
  font-weight: bold;
  font-size: 150px;
  font-style: italic;
  font-weight: 700;
  color: red;
  text-shadow: 5px 5px black, -1px -1px 1px black;
  z-index: 1;
}

.playerCards {
  position: relative;
  margin-left: 200px;
  min-width: 500px;
}

#playerTotal {
  height: 100px;
  width: 112px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255);
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

#stay {
  height: 75px;
  width: 112px;
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

#stay:hover {
  background-color: rgba(255, 255, 255);
  border-radius: 13px;
  font-weight: bold;
}

#hit {
  height: 75px;
  width: 112px;
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

#hit:hover {
  background-color: rgba(255, 255, 255);
  border-radius: 13px;
  font-weight: bold;
}

#displayMoney {
  height: 150px;
  width: 200px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255);
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin: auto 0;
}

/* position of player cards */
#player1 {
  position: absolute;
  left: 55px;
  top: 50px;
}

#player2 {
  position: absolute;
  left: 270px;
  top: 50px;
}

#player3 {
  position: absolute;
  left: 20px;
  top: 90px;
}

#player4 {
  position: absolute;
  left: 235px;
  top: 90px;
}

#player5 {
  position: absolute;
  left: 55px;
  top: 130px;
}

#player6 {
  position: absolute;
  left: 270px;
  top: 130px;
}

/* ________________________________________________________ */

/* betting window */

.betting {
  height: 400px;
  width: 800px;
  position: relative;
  background: #4d894c;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin: 0 auto;
}

.clickToBet {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 40px;
  color: white;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

#totalMoney {
  position: absolute;
  height: 75px;
  width: 112px;
  left: 11px;
  top: 13px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

#betMoney {
  position: absolute;
  height: 126px;
  width: 209px;
  left: 429px;
  top: 84px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  line-height: 126px;
  font-weight: bold;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

#reset {
  position: absolute;
  height: 75px;
  width: 112px;
  left: 665px;
  top: 289px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

#reset:hover {
  background-color: rgba(255, 255, 255);
  border-radius: 13px;
  font-weight: bold;
}

#allIn {
  position: absolute;
  height: 75px;
  width: 112px;
  left: 665px;
  top: 204px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

#allIn:hover {
  background-color: rgba(255, 255, 255);
  border-radius: 13px;
  font-weight: bold;
}

#done {
  position: absolute;
  height: 75px;
  width: 112px;
  left: 665px;
  top: 13px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

#done:hover {
  background-color: rgba(255, 255, 255);
  border-radius: 13px;
  font-weight: bold;
}

/* betting buttons */
#pokerChip1 {
  position: absolute;
  background: transparent;
  height: 128px;
  width: 128px;
  left: 17px;
  top: 250px;
  border: none;
  padding: 0px;
}

#pokerChip5 {
  position: absolute;
  background: transparent;
  height: 128px;
  width: 128px;
  left: 179px;
  top: 251px;
  border: none;
  padding: 0px;
}

#pokerChip25 {
  position: absolute;
  background: transparent;
  height: 128px;
  width: 128px;
  left: 341px;
  top: 251px;
  border: none;
  padding: 0px;
}

#pokerChip100 {
  position: absolute;
  background: transparent;
  height: 128px;
  width: 128px;
  left: 503px;
  top: 252px;
  border: none;
  padding: 0px;
}

#pokerChip500 {
  position: absolute;
  background: transparent;
  height: 128px;
  width: 128px;
  left: 98px;
  top: 114px;
  border: none;
  padding: 0px;
}

#pokerChip1000 {
  position: absolute;
  background: transparent;
  height: 128px;
  width: 128px;
  left: 260px;
  top: 114px;
  border: none;
  padding: 0px;
}

/* ________________________________________________________________________________________ */
